body {background-color:sandybrown  ;
}

h1{
    color:white ;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
}

h2{
    color:dimgray ;
    font-family: Arial, Helvetica, sans-serif;
}  

.linkfonts{
font-size: 20px;

}